@page "/login"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject AuthService AuthService

@* Strona do logowania *@
@* Wykorzystałem schowek lokalny, pomimo słabych zabezpieczeń z powodu problemów z wykorzystaniem ciasteczek, a przez ograniczoną ilość czasu nie mogłem zagłębić się bardziej w szukanie błędów. *@

<h3>Logowanie</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p style="color: red;">@errorMessage</p>
}

<form @onsubmit="HandleLogin">
    <input @bind="email" placeholder="Email" />
    <input type="password" @bind="password" placeholder="Hasło" />
    <button type="submit">Zaloguj</button>
</form>

@code {
    private string email = string.Empty;
    private string password = string.Empty;
    private string errorMessage = string.Empty;

    /*
    * <summary>
    * Funkcja służy do pobrania tokenu z backendu, jeśli zalogowanie pójdzie pomyślnie.
    * </summary>
    */
    private async Task HandleLogin()
    {
        try
        {
            // Wysłanie zapytania
            var response = await Http.PostAsJsonAsync("api/auth/login", new { Email = email, Password = password });

            
            if (!response.IsSuccessStatusCode)
            {
                errorMessage = "Nie udało się zalogować. Sprawdź dane logowania.";
            }
            else
            {
                var result = await response.Content.ReadFromJsonAsync<TokenResponse>();
                var token = result.Token;

                // Zapisanie tokenu w schowku lokalnym
                await AuthService.LoginAsync(token);
                Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
                NavigationManager.NavigateTo("/");

            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Wystąpił błąd: {ex.Message}";
        }
    }
    /*
    * <summary>
    * Klasa służy do przejęcia tokena po zalogowaniu.
    * </summary>
    */
    public class TokenResponse
    {
        public string Token { get; set; }
    }
}