@using Microsoft.AspNetCore.Components

@inherits LayoutComponentBase

<div class="container">
    <header>
        <h1>ContactApp</h1>
        <NavMenu />
    </header>
    <main>
        @Body
    </main>
</div>