@using Microsoft.AspNetCore.Components
@inject AuthService AuthService
@inject NavigationManager NavigationManager

@inherits LayoutComponentBase

<StatusBar IsLoggedIn="isLoggedIn" OnLogout="HandleLogout" />

@* Kod głównego layoutu *@
<div class="container">
    <header>
        <h1>ContactApp</h1>
        <NavMenu IsLoggedIn="isLoggedIn" OnLogout="HandleLogout" />
    </header>
    <main>
        @Body
    </main>
</div>


@code {
    private bool isLoggedIn;

    
    protected override async Task OnInitializedAsync()
    {
        // Dodanie wywoływania AuthChanged przy zmianie stanu logowania
        AuthService.OnAuthStateChanged += AuthChanged;
        isLoggedIn = await AuthService.IsLoggedInAsync();
    }

    // Zmienia stan zalogowania i odświeża layout.
    private async void AuthChanged()
    {
        isLoggedIn = await AuthService.IsLoggedInAsync();
        StateHasChanged(); 
    }

    // Funkcja do wylogowywania
    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        NavigationManager.NavigateTo("/"); 
    }

    // Przy opuszczeniu layoutu, zaprzestaje nasłuchiwania zmianu stanu. W głównym layoucie niepotrzebne.
    public void Dispose()
    {
        AuthService.OnAuthStateChanged -= AuthChanged;
    }
}
