@using Microsoft.AspNetCore.Components
@inject AuthService AuthService
@inject NavigationManager NavigationManager

@inherits LayoutComponentBase

<StatusBar IsLoggedIn="isLoggedIn" OnLogout="HandleLogout" />


<div class="container">
    <header>
        <h1>ContactApp</h1>
        <NavMenu IsLoggedIn="isLoggedIn" OnLogout="HandleLogout" />
    </header>
    <main>
        @Body
    </main>
</div>


@code {
    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        AuthService.OnAuthStateChanged += AuthChanged;
        isLoggedIn = await AuthService.IsLoggedInAsync();
    }

    private async void AuthChanged()
    {
        isLoggedIn = await AuthService.IsLoggedInAsync();
        StateHasChanged(); // 🔄 odświeża layout po zmianie
    }

    private async Task HandleLogout()
    {
        await AuthService.LogoutAsync();
        NavigationManager.NavigateTo("/"); 
    }

    public void Dispose()
    {
        AuthService.OnAuthStateChanged -= AuthChanged;
    }
}
