@using Microsoft.AspNetCore.Components

<nav>
    <ul>
        <li><a href="/">Strona główna</a></li>
        <li><a href="/contacts">Kontakty</a></li>
        <li><a href="/login">Logowanie</a></li>
        <li><a href="/add-contact">Dodaj</a></li>
    </ul>
</nav>